%main
  .d-flex.justify-content-center.w-100
    - flash.each do |type, message|
      %div{ class: "alert alert-#{ type == 'alert' ? 'danger' : 'success' } alert-dismissible fade show", style: "width: 50rem;", role: "alert" }
        = message
        %button{ type: "button", class: "btn-close", "data-bs-dismiss": "alert", "aria-label": "Close" }
      
  .banner.d-flex.justify-content-center.align-items-center
    .toolbar.d-flex.justify-content-end{ "data-controller": "action" }
      %input{ type: "checkbox", class: "btn-check", id: "btn-check-outlined", autocomplete: "off", checked: english_language, data: { action: "action#language" } }
      %label.btn.btn-outline-light.btn-sm{ for: "btn-check-outlined" }= t('pages.root.buttons.language.text')
    %span
    .content.text-center
      %h1{ class: 'text-white' }= t('pages.root.title')
      %p{ class: 'text-white' }= t('pages.root.subtitle')
      = button_to t('pages.root.buttons.new.text'), new_repository_path, method: :get, class: 'btn btn-outline-light btn-lg', data: { disable_with: t('pages.root.buttons.new.disabled-text') }
    
  .row.d-flex.justify-content-center.mt-65-negative
    .col-11
      .matte-container
        - if @repos.present?
          - @repos.each do |repo|
            = link_to repo, class: "repo-card" do
              .repository-card
                .image.bg-image{ style: "background-image: url(#{repo.avatar_url})" }
                .content
                  %h5.text-uppercase.fw-bold
                    = repo.name
                  %span.text-muted.fs-6.fst-italic.text-max-two-line= repo.full_name
                  %span.fs-6.text-max-two-line= repo.description
        - else
          .text-center.w-100.d-flex.justify-content-center.align-items-center
            %span.fs-5= t('pages.root.empty-list')